<html lang="ja">
    <head>
        <meta name="viewport"
        content="
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=2.0,
        user-scalable=yes" />  
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>

    <body class="pages">
        <div style="text-align:center">
        <div class="box">
        <h2>入力可能時間外です</h2>
        <h3>入力可能時間は</br>11:30～13:30です。</h3>
        <a href="/">
			<button class="return_to_top">トップ画面に戻る</button>
		</a>
        </div>
        </div>
    </body>

</html>