<html lang="ja">
  <head>
    <meta name="viewport"
   content="
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>

  <body class="top_page">
    <div style="text-align:right">
    <a class = "help" href="/">？</a>
    </div>

    <div style="text-align: center;">

      <div class="box_top">
      <div class="text">
        明石高専<br>食堂システム
      </div>

      
      <a href="/today">
        <button class="to_today">本日のメニューを見る</button>
      </a>
      <br>
      <a href="/week">
        <button class="to_week">今週のメニューを見る</button>
      </a>
      </div>
    </div>
  </body>
</html>

